<div class="markdown-body">
    <p><%= t.colorsDescription %></p>
</div>

<h2 id="demo"><%= t.liveDemo %></h2>
<div class="demo-section">
    <div class="color-palette">
        <div class="color-item">
            <div class="color-swatch" style="background-color: #27ae60;"></div>
            <div class="color-info">
                <div class="color-name">Primary Green</div>
                <div class="color-hex">#27ae60</div>
            </div>
        </div>
        <div class="color-item">
            <div class="color-swatch" style="background-color: #1890ff;"></div>
            <div class="color-info">
                <div class="color-name">Info Blue</div>
                <div class="color-hex">#1890ff</div>
            </div>
        </div>
        <div class="color-item">
            <div class="color-swatch" style="background-color: #f5222d;"></div>
            <div class="color-info">
                <div class="color-name">Error Red</div>
                <div class="color-hex">#f5222d</div>
            </div>
        </div>
        <div class="color-item">
            <div class="color-swatch" style="background-color: #fa8c16;"></div>
            <div class="color-info">
                <div class="color-name">Warning Orange</div>
                <div class="color-hex">#fa8c16</div>
            </div>
        </div>
    </div>
</div>