<div class="markdown-body">
    <p><%= t.inventoryDescription %></p>
</div>

<h2 id="demo"><%= t.liveDemo %></h2>
<div class="demo-section">
    <div class="demo-card">
        <p>This component demonstrates a full-page inventory management interface, launched in a wide modal.</p>
        <button class="ant-btn ant-btn-primary" id="launchInventoryBtn">
            <svg class="anticon" viewBox="64 64 896 896" width="1em" height="1em">
                <path d="M946.5 505L534.6 93.4a31.93 31.93 0 00-45.2 0L77.5 505c-12 12-18.8 28.3-18.8 45.3 0 35.3 28.7 64 64 64h43.4V908c0 17.7 14.3 32 32 32H448V716c0-4.4 3.6-8 8-8h112c4.4 0 8 3.6 8 8v224h249.9c17.7 0 32-14.3 32-32V614.3H901c35.3 0 64-28.7 64-64 0-17-6.7-33.3-18.5-45.3z"></path>
            </svg>
            <%= t.launchInventory %>
        </button>
    </div>
</div>

<p class="demo-note"><%= t.note %></p>